*{
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.container-p{
    margin-top: 15px;
    max-width: 600px;
    padding: 10px;
    height: auto;
    background-color: #f4f4f4;
    border-radius: 5px;
}

.container-m{
    max-width: 500px;
    max-height: 250px;
    /* background-image: url(/images/avengers.jpg);
    background-size: cover; */
    border-radius: 5px;

}
.container-dark{
    max-width: 500px;
    height: auto;
    margin-top: 15px;
    border-radius: 5px;
}
.text{
    font-size: medium;
    color: black;
    font-weight: bold;

}
.text-new{
    color: white;
    font-weight: 400;
}

.list-group-item{
    text-align: center;
    
}

.search-bar{
    width: 150px;
    padding-right: 5%;
}